<!DOCTYPE html>
<html>
<head>
    <title>Add Channel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_channel.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Add Channel Form</h1>

        {% with messages = get_flashed_messages(category_filter=['channel_message']) %}
        {% if messages %}
            <div class="flashes">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        <form class="add-channel-form" method="POST" action="{{ url_for('add_channel', group_id=group_id) }}">
            <div class="form-group">
                <label for="channel_name">Channel Name:</label>
                <input type="text" id="channel_name" name="channel_name" required>
            </div>

            <button type="submit" class="btn btn-primary">Add Channel</button>
        </form>
    </div>
</body>
</html>

